html {
    height: 100%;
    width: 100%;
    margin: auto;
}

body {
    /* height: 80%; */
    width: 70%;
    min-width: 700px;
    margin: auto;
    padding: 0px;
    border: 0px;
    font-family: "Times New Roman", Georgia, Serif
}

button {
    border-radius: 5px;
    background: rgb(51, 122, 190);
    border-color: rgb(60, 133, 200);
}

input {
    border-radius: 5px;
}

#top>span {
    color: #fff;
    line-height: 35px;
}

#top {
    background: rgb(51, 122, 183);
    width: auto;
    height: 35px;
    border-radius: 1px;
}

#container {
    height: 80%;
    border-radius: 20px;
}

#middle {
    background: rgb(59, 89, 119);
    /* width: 1000px; */
    /* margin: auto; */
    height: 35px;
    line-height: 35px;
}

.form {
    color: rgb(252, 252, 252);
    margin: 0 auto;
    /* position: absolute; */
}

.middle-tool {
    margin: auto;
    display: block;
    text-align: center;
    line-height: 100%;
}

#flash {
    margin: auto;
    display: block;
    color: rgb(222, 222, 222);
    margin: 0px auto;
    line-height: 28px;
    display: inline-block;
}

div {
    text-align: center;
}

a {
    cursor: pointer;
}

ul {
    float: left;
    list-style: none;
}

ul>li {
    margin: 10px;
    box-sizing: content-box;
    max-width: 100%;
    border-width: 0;
    vertical-align: middle;
    border: 0;
}

.float-clear {
    clear: both;
}

.show-img {
    width: 85px;
    margin: 0px 20px;
}

ul {
    list-style: none;
    padding: 30px;
    margin: 30px;
    line-height: 20px;
    /* border: 1px solid #99CC00; */
    font-size: 18px;
}

ul>li {
    display: block;
    width: 47%;
    float: left;
}

.th {
    background: #F1FADE;
    font-weight: bold;
    border-top: 1px
}